.aquaButton {
  --button-active-gradient: #c8d5ed, #97c2ee 40%, #6eadee 40%, #aff9ff;
  --border-gradient: #8b8b8b, #505050;
  --border-active-gradient: #272798, #616161;
  min-width: 91px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 9999px;
  background: linear-gradient(to bottom, var(--button-gradient)),
    linear-gradient(to bottom, var(--border-gradient));
  background-clip: padding-box, border-box;
  box-shadow: var(--widget-box-shadow);
  white-space: nowrap;
  user-select: none;
  padding-inline: 14px;

  &:focus-visible {
    @media (forced-colors: none) {
      --border-gradient: #6f89a0, #6f89a0;
      outline: none;
      box-shadow: var(--focus-box-shadow);
    }
  }

  &:active {
    --button-gradient: var(--button-active-gradient);
    --border-gradient: var(--border-active-gradient);
  }
}

.primary:not(:global(.window-inactive) .primary) {
  --button-gradient: var(--button-active-gradient);
  --border-gradient: var(--border-active-gradient);

  &:not(:active) {
    animation: 0.5s linear infinite alternate darken;
  }
}

@keyframes darken {
  from {
    filter: brightness(1) saturate(1);
  }
  to {
    filter: brightness(0.9) saturate(1.5);
  }
}
