.aquaButton {
  --button-bg: linear-gradient(
    to bottom,
    #f9f9f9,
    #ededed 40%,
    #dadada 40%,
    #ffffff
  );
  --button-border-bg: linear-gradient(to bottom, #8b8b8b, #505050);
  min-width: 91px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 9999px;
  background: var(--button-bg), var(--button-border-bg);
  background-clip: padding-box, border-box;
  box-shadow: var(--widget-box-shadow);
  white-space: nowrap;
  user-select: none;
  padding-inline: 14px;

  &:focus-visible {
    --button-border-bg: linear-gradient(#6f89a0, #6f89a0);
    outline: none;
    box-shadow: var(--focus-box-shadow);
  }

  &:active {
    --button-bg: linear-gradient(
      to bottom,
      #c8d5ed,
      #97c2ee 40%,
      #6eadee 40%,
      #aff9ff
    );
    --button-border-bg: linear-gradient(to bottom, #272798, #616161);
  }
}
