.window {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;

  & > header {
    background: lightgray;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media not print {
      height: 1.5rem;
    }

    & > h2 {
      @media not print {
        font-size: inherit;
      }
    }
  }
}

.content {
  flex-grow: 1;
  overflow: scroll;
  padding: 1rem;
}
