.menubar {
  --menu-button-bg: linear-gradient(135deg, #3dadff, #1666ee);
  --menu-item-active-bg: linear-gradient(to bottom, #237ee9, #015cd8);
  --menu-option-active-bg: #336fcb;
  --menu-item-padding: 10px;
  z-index: 10000;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #bcbcbc;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f0f0f0 50%,
    #e8e8e8 50%,
    #ffffff
  );
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-inline: 20px;

  @media screen {
    height: 30px;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: var(--menu-item-padding);

  &:active,
  &:focus-visible,
  details[open] & {
    outline: none;
    background: var(--menu-item-active-bg);
    color: white;
  }
}

.profileIcon {
  display: flex;
  align-items: center;
  -webkit-padding-end: var(--menu-item-padding);
  padding-inline-end: var(--menu-item-padding);

  @media (width < 410px) {
    display: none;
  }

  &:is(:active, :focus-visible) > svg {
    fill: white;
  }
}

.name {
  @media screen {
    font-size: inherit;
  }
  @media print {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    padding-inline: 1rem;
  }
}

.aboutButton {
  border: none;
  background: none;
  padding-block: 0;

  .menubar:has(~ :global(#aboutWindowPopover):popover-open) & {
    background: var(--menu-item-active-bg);
    color: white;
  }
}

.contactButton {
  list-style-type: none;

  &::-webkit-details-marker {
    display: none;
  }
}

.menuWrapper {
  cursor: default;
}

.menu {
  position: absolute;
  padding: 0;
  box-shadow: var(--box-shadow);
  list-style-type: none;
  padding-block: 4px;

  /* fix menu going off screen - not ideal, but best we can do without JavaScript I think */
  @media (width < 600px) {
    right: 0;
  }

  &::before {
    /* background on separate layer to control opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pinstripe-bg);
    content: '';
    opacity: 0.95;
  }

  & > li {
    position: relative;
    padding-inline: 22px;

    &:hover,
    &:focus-within {
      outline: none;
      background: var(--menu-option-active-bg);
      color: white;
    }

    & > a {
      all: unset;
    }
  }
}
