.menubar {
  display: flex;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-inline: 0.5rem;

  & > :where(h1) {
    @media screen {
      font-size: inherit;
      padding-inline: 0.5rem;
    }
    @media print {
      flex-grow: 1;
      text-align: center;
      padding-inline: 1rem;
    }
  }

  & > :where(button) {
    border: none;
    background: none;
    padding-block: 0;
    padding-inline: 0.5rem;

    &:active {
      background: deepskyblue;
    }
  }

  & > :where(details) {
    cursor: default;

    & > summary {
      list-style-type: none;
      padding-inline: 0.5rem;

      &::-webkit-details-marker {
        display: none;
      }
    }

    &[open] {
      background: deepskyblue;
    }

    & > menu {
      position: absolute;
      padding: 0;
      background: white;
      list-style-type: none;

      & > li {
        padding-inline: 0.5rem;

        &:hover,
        &:focus-within {
          background: deepskyblue;
        }

        & > a {
          all: unset;
        }
      }
    }
  }
}

.profileIcon {
  -webkit-padding-end: 0.5rem;
  padding-inline-end: 0.5rem;
}

.menubar:has(~ :global(#aboutWindowPopover):popover-open) .aboutButton {
  background: deepskyblue;
}

.printButton {
  border-radius: 50%;
  background: deepskyblue;
  color: white;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
}
