.printButton {
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  background: none;
  padding-inline: var(--menu-item-padding);
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  padding-block: 2px;

  &:active,
  &:focus-visible {
    outline: none;
    background: var(--menu-item-active-bg);
  }
}

.printButtonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  height: 100%;
  border-radius: 50%;
  background: var(--menu-item-active-bg);
  color: white;
  aspect-ratio: 1 / 1;

  .printButton:active &,
  .printButton:focus-visible & {
    background: white;

    & > svg {
      stroke: var(--menu-option-active-bg);
    }
  }
}
