.skillCard {
  display: grid;
  align-items: center;
  padding: 1rem;
  background: lightgray;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
  grid-template: auto auto / 50px auto;

  @media print {
    grid-template: auto / 25px auto;
    row-gap: 0;
  }
}

.logo {
  @media screen {
    grid-row: span 2;
  }

  @media print {
    width: 25px;
    height: 25px;
  }
}

.secondary {
  color: var(--text-secondary);
  font-size: 1.25rem;
}

.progress {
  width: auto;
}
