.skillCard {
  display: grid;
  align-items: center;
  padding: 1rem;
  background: lightgray;
  gap: 1rem;
  grid-template: auto auto / 50px auto;
}

.logo {
  grid-row: span 2;
}

.secondary {
  color: hsl(0, 0%, 20%);
  font-size: 1.25rem;
}

.progress {
  width: auto;
}
