@layer reset, base;

@layer reset {
  /*
  Josh's Custom CSS Reset (modified)
  https://www.joshwcomeau.com/css/custom-css-reset/
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  @media screen {
    :root {
      --font-scale: 1.125;
    }

    .print-only {
      display: none !important;
    }
  }

  @media print {
    :root {
      --font-scale: 1.125;
      font-size: 12px;
    }

    * {
      -webkit-user-select: auto !important;
      -moz-user-select: auto !important;
      -ms-user-select: auto !important;
      user-select: auto !important;
    }

    .print-hidden {
      display: none !important;
    }
  }

  :root {
    --focus-box-shadow: 0 0 3px 2px #92b9db;
    --text-secondary: rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-size: calc(1rem * pow(var(--font-scale), 8));
  }
  h2 {
    font-size: calc(1rem * pow(var(--font-scale), 7));
  }
  h3 {
    font-size: calc(1rem * pow(var(--font-scale), 6));
  }
  h4 {
    font-size: calc(1rem * pow(var(--font-scale), 5));
  }
  h5 {
    font-size: calc(1rem * pow(var(--font-scale), 4));
  }
  h6 {
    font-size: calc(1rem * pow(var(--font-scale), 3));
  }

  button.aqua-button {
    --bg: linear-gradient(
      to bottom,
      #f9f9f9,
      #ededed 40%,
      #dadada 40%,
      #ffffff
    );
    --border-bg: linear-gradient(to bottom, #8b8b8b, #505050);
    --box-shadow: 0 2px 3px -1px #aeaeae;
    min-width: 91px;
    height: 28px;
    border: 1px solid transparent;
    border-radius: 9999px;
    background: var(--bg), var(--border-bg);
    background-clip: padding-box, border-box;
    box-shadow: var(--box-shadow);
    padding-inline: 14px;

    &:focus-visible {
      --border-bg: linear-gradient(#6f89a0, #6f89a0);
      --box-shadow: var(--focus-box-shadow);
      outline: none;
    }

    &:active {
      --bg: linear-gradient(
        to bottom,
        #c8d5ed,
        #97c2ee 40%,
        #6eadee 40%,
        #aff9ff
      );
      --border-bg: linear-gradient(to bottom, #272798, #616161);
    }
  }
}
