@layer reset, base;

@layer reset {
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  :root {
    --font-scale: 1.125;
  }
  h1 {
    font-size: calc(1rem * pow(var(--font-scale), 8));
  }
  h2 {
    font-size: calc(1rem * pow(var(--font-scale), 7));
  }
  h3 {
    font-size: calc(1rem * pow(var(--font-scale), 6));
  }
  h4 {
    font-size: calc(1rem * pow(var(--font-scale), 5));
  }
  h5 {
    font-size: calc(1rem * pow(var(--font-scale), 4));
  }
  h6 {
    font-size: calc(1rem * pow(var(--font-scale), 3));
  }
  #background {
    @media print {
      display: none;
    }
  }
}

}