.root {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

.desktop {
  display: grid;
  flex-grow: 1;
  align-items: start;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  @media not print and (width >= 1000px) {
    --offset: 2rem;

    & > * {
      max-height: calc(100% - var(--offset));
    }

    & > :first-child {
      -webkit-margin-after: var(--offset);
      margin-block-end: var(--offset);
    }
    & > :last-child {
      -webkit-margin-before: var(--offset);
      margin-block-start: var(--offset);
    }
  }

  @media print, not (width >= 1000px) {
    overflow-y: scroll;
    grid-template-columns: 1fr;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
  }
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
