.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.desktop {
  display: grid;
  flex-grow: 1;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  & > :first-child {
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;
  }

  & > :last-child {
    -webkit-margin-before: 2rem;
    margin-block-start: 2rem;
  }
}

.skillGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
