.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.desktop {
  display: grid;
  flex-grow: 1;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* TODO find a way to offset the windows, but only if multi column */
}

.skillGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
